body{
text-align:center;
background:black;
color:white;
font-family:Arial;
}

.slideshow{
width:300px;
margin:auto;
}

.slide{
width:100%;
display:none;
border-radius:15px;
}

.msg{
margin-top:20px;
font-size:18px;
}
